<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    bean标签：表示一个对象
        id：表示对象的引用名
        class；表示对象类型
 -->
    <bean id="student" class="cn.chaofan.pojo.Student">
<!--        实现依赖注入：dependency injection-->
        <property name="name" value="wangyujiao"/>
        <property name="id" value="001"/>
        <property name="gender" value="female"/>
    </bean>

</beans>